[submodule "jailbreak"]
	path = jailbreak
	url = git@github.com:elder-plinius/L1B3RT4S.git
	shallow = true
[submodule "leaked-system-prompts"]
	path = leaked-system-prompts
	url = git@github.com:jujumilk3/leaked-system-prompts.git
	shallow = true
[submodule "official-system-prompts/v0-system-prompts-and-models"]
	path = official-system-prompts/v0-system-prompts-and-models
	url = git@github.com:x1xhlol/v0-system-prompts-and-models.git
