[submodule "jailbreak"]
	path = jailbreak
	url = git@github.com:elder-plinius/L1B3RT4S.git
	shallow = true
[submodule "leaked-system-prompts"]
	path = leaked-system-prompts
	url = git@github.com:jujumilk3/leaked-system-prompts.git
	shallow = true
[submodule "official-system-prompts/system-prompts-and-models-of-ai-tools"]
	path = official-system-prompts/system-prompts-and-models-of-ai-tools
	url = git@github.com:x1xhlol/system-prompts-and-models-of-ai-tools.git
	shallow = true
[submodule "grok-prompts"]
	path = grok-prompts
	url = git@github.com:xai-org/grok-prompts.git
	shallow = true
[submodule "official-system-prompts/claude-code"]
	path = official-system-prompts/claude-code
	url = git@github.com:Piebald-AI/claude-code-system-prompts.git
	shallow = true
